*~
.lock*
build*
.hg
.*.swp
*.o
*.Po
.deps
tags

#generated-automake-files
aclocal.m4
autom4te.cache/
compile
configure
depcomp
install-sh
missing
#generated-configure-files
INSTALL
Makefile
Makefile.in
config.log
config.status
config.guess
config.sub
src/Makefile
src/Makefile.in
#binaries
lib7zip-165/lib7zip.a
src/fuse-7z-ng
