*~
.lock*
build*
.hg
.*.swp
*.o
*.Po
tags

#generated-automake-files
aclocal.m4
autom4te.cache/
compile
configure
depcomp
install-sh
missing
#generated-configure-files
INSTALL
Makefile
Makefile.in
config.log
config.status
src/Makefile
src/Makefile.in
